.service-provider-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  width: 100%;
  max-width: 90vw;
  padding: 1rem 2rem;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__left,
  &__right {
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__left {
    flex-basis: 20%;
  }

  &__right {
    flex-basis: 80%;
  }

  &__details {
    max-width: 75ch;
    margin: 0 auto;

    &__booking-reviews {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: start;
      align-items: center;
      gap: 0 1rem;

      @media (max-width: 768px) {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: start;
      }

      &__card {
        flex-basis: 50%;
        flex-shrink: 0;
        flex-grow: 0;
        align-self: stretch;

        @media (max-width: 768px) {
          flex-basis: 100%;
          flex-shrink: 1;
          flex-grow: 1;
        }
      }
    }
  }

  // &__bio,
  // &__reviews {
  // }

  &__header {
    width: 100%;
    text-align: center;
    & h1 {
      font-size: 3rem;
    }
  }

  &__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
  }
}
