.header-navigation {
  text-align: center;
  padding: 1rem 0 2rem;

  &__link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & ul {
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 0;
    }
  }

  & a {
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
    padding: 1rem;
    text-transform: uppercase;
  }

  & a:visited {
    color: black;
  }
}
