@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --lavender-col: #c9a7f6;
  --contact-btn-shadow: 0.75px 2.25px 0 black;
  --dashboard-border: 1px solid rgba(0, 0, 0, 0.269);
  --primary-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2); }

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0; }

i {
  font-style: italic; }

p {
  margin: 0;
  padding: 0; }

.text-left {
  text-align: left; }

.m-0 {
  margin: 0; }

:root {
  --box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  --input-btn-height: 3rem; }

.service-search {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  .service-search label {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0; }
  .service-search input {
    width: 100%;
    height: var(--input-btn-height);
    padding: 0 1rem;
    border: none;
    font-size: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 10px; }
  .service-search button {
    background-color: black;
    color: white;
    padding: 0 1rem;
    font-size: 1.125rem;
    height: var(--input-btn-height);
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow); }
  .service-search-results {
    padding: 1rem;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1rem; }
    .service-search-results-card {
      flex-basis: 32%;
      flex-grow: 0;
      flex-shrink: 0; }
    .service-search-results.active {
      display: flex; }
    .service-search-results.inactive {
      display: none; }

.service-search-wrapper {
  position: relative; }

.header-navigation {
  text-align: center;
  padding: 1rem 0 2rem; }
  .header-navigation__link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .header-navigation__link-list ul {
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 0; }
  .header-navigation a {
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
    padding: 1rem;
    text-transform: uppercase; }
  .header-navigation a:visited {
    color: black; }

.home__articles {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 1rem; }
  .home__articles__card {
    flex-basis: 32%;
    flex-shrink: 0;
    flex-grow: 0; }

footer {
  text-align: center; }

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  font-family: 'Arial', 'Helvetica', sans-serif;
  line-height: 1.125em; }

.react-calendar--doubleView {
  width: 700px; }
  .react-calendar--doubleView.react-calendar__viewContainer {
    display: flex;
    margin: -0.5em; }
  .react-calendar--doubleView.react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em; }

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none; }

.react-calendar button:enabled:hover {
  cursor: pointer; }

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em; }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none; }
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0; }

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6; }

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold; }

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em; }

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold; }

.react-calendar__month-view__days__day--weekend {
  color: #d10000; }

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575; }

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em; }

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 0.833em; }

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab; }

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd; }

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6; }

.react-calendar__tile--now {
  background: var(--lavender-col); }

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9; }

.react-calendar__tile--hasActive {
  background: #76baff; }

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff; }

.react-calendar__tile--active {
  background: #006edc;
  color: white; }

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff; }

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6; }

.contact-provider {
  width: 100%;
  text-align: center;
  padding: 1rem 0; }
  .contact-provider button {
    padding: 0.75rem;
    width: 90%;
    background: var(--lavender-col);
    border: none;
    border-radius: 10px;
    box-shadow: 0.75px 2.25px 0 black;
    transition: 0.03s ease-in-out;
    cursor: pointer; }
  .contact-provider button:active {
    width: 89%;
    box-shadow: 0.35px 2px 0 rgba(0, 0, 0, 0.7); }

.time-series-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; }
  .time-series-chart__loan-types button {
    display: block;
    background-color: var(--lavender-col);
    color: black;
    padding: 0.75rem;
    width: 90%;
    border-radius: 10px;
    border: none;
    margin: 0.5rem auto;
    box-shadow: var(--contact-btn-shadow);
    transition: 0.03s ease-in-out;
    cursor: pointer; }
  .time-series-chart__chart {
    flex-basis: 90%; }
    .time-series-chart__chart button {
      background-color: var(--lavender-col);
      color: black;
      padding: 0.75rem;
      border-radius: 10px;
      border: none;
      margin: 0.5rem;
      box-shadow: var(--contact-btn-shadow);
      transition: 0.03s ease-in-out;
      cursor: pointer; }

#deal-management-accordion select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 20ch;
  font-size: 1rem;
  cursor: pointer; }

.service-provider-dashboard__first-glance-stats {
  padding: 1rem 0; }
  .service-provider-dashboard__first-glance-stats__stat {
    background-color: rgba(214, 214, 214, 0.5);
    padding: 0.15rem;
    border-radius: 10px; }
    .service-provider-dashboard__first-glance-stats__stat__numbers {
      background-color: white;
      padding: 0.6rem 0.5rem;
      margin: 0.1rem 0.1rem 0;
      text-align: left;
      border-radius: 10px; }
      .service-provider-dashboard__first-glance-stats__stat__numbers h3 {
        font-size: 0.8rem;
        margin-bottom: 0;
        padding: 0;
        margin: 0;
        font-weight: 400; }
      .service-provider-dashboard__first-glance-stats__stat__numbers p {
        padding: 0;
        margin: 0; }
    .service-provider-dashboard__first-glance-stats__stat__growth {
      display: flex;
      gap: 1rem;
      padding: 0.35rem 0.3rem; }
      .service-provider-dashboard__first-glance-stats__stat__growth p {
        font-size: 0.8rem;
        padding: 2.5px 0 0;
        margin: 0; }
        .service-provider-dashboard__first-glance-stats__stat__growth p span {
          font-size: 0.75rem;
          color: gray; }
      .service-provider-dashboard__first-glance-stats__stat__growth a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: black;
        font-size: 1rem; }

#service-provider-deals {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: var(--primary-box-shadow); }
  #service-provider-deals .service-provider-deals {
    border-bottom: var(--dashboard-border);
    padding: 1rem 0; }
  #service-provider-deals ul {
    width: 100%;
    height: 100%;
    max-height: 350px;
    padding: 0;
    margin: 0 auto;
    overflow-y: scroll; }
    #service-provider-deals ul li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding: 1rem 0.5rem;
      border-bottom: var(--dashboard-border); }
      #service-provider-deals ul li:last-child {
        border-bottom: none; }
      #service-provider-deals ul li h4 {
        font-size: 1rem; }
      #service-provider-deals ul li .sales-stage {
        font-size: 0.8rem; }

#service-provider-products {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: var(--primary-box-shadow); }
  #service-provider-products .service-provider-products {
    border-bottom: var(--dashboard-border);
    padding: 1rem 0; }
  #service-provider-products ul {
    width: 100%;
    max-height: 350px;
    padding: 0;
    margin: 0 auto;
    overflow-y: scroll; }
    #service-provider-products ul li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding: 1rem 0.5rem;
      border-bottom: var(--dashboard-border); }
      #service-provider-products ul li:last-child {
        border-bottom: none; }
      #service-provider-products ul li h4 {
        font-size: 1rem; }
      #service-provider-products ul li .sales-stage {
        font-size: 0.8rem; }

.home-header {
  width: 100%;
  text-align: center;
  margin: 0 auto; }
  .home-header h1 {
    text-transform: capitalize; }

.header {
  text-align: center;
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto; }

.header h1 {
  font-size: 2rem; }

.pros-wrapper {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center; }

.pros-wrapper div {
  max-width: 280px;
  flex-basis: 33%;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  padding: 1rem; }

.pros-wrapper div img {
  max-width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%; }

.service-provider-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  width: 100%;
  max-width: 90vw;
  padding: 1rem 2rem; }
  @media (max-width: 768px) {
    .service-provider-page {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .service-provider-page__left, .service-provider-page__right {
    flex-shrink: 0;
    flex-grow: 0; }
  .service-provider-page__left {
    flex-basis: 20%; }
  .service-provider-page__right {
    flex-basis: 80%; }
  .service-provider-page__details {
    max-width: 75ch;
    margin: 0 auto; }
    .service-provider-page__details__booking-reviews {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: start;
      align-items: center;
      gap: 0 1rem; }
      @media (max-width: 768px) {
        .service-provider-page__details__booking-reviews {
          flex-wrap: wrap;
          flex-direction: column;
          align-items: start; } }
      .service-provider-page__details__booking-reviews__card {
        flex-basis: 50%;
        flex-shrink: 0;
        flex-grow: 0;
        align-self: stretch; }
        @media (max-width: 768px) {
          .service-provider-page__details__booking-reviews__card {
            flex-basis: 100%;
            flex-shrink: 1;
            flex-grow: 1; } }
  .service-provider-page__header {
    width: 100%;
    text-align: center; }
    .service-provider-page__header h1 {
      font-size: 3rem; }
  .service-provider-page__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto; }

.dashboard-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 100vw; }
  .dashboard-layout aside {
    grid-column: span 2;
    padding: 0.5rem 1rem;
    border: var(--dashboard-border); }
    .dashboard-layout aside ul {
      list-style-type: none;
      padding: 0; }
      .dashboard-layout aside ul li {
        display: block;
        text-align: left; }
  .dashboard-layout__page {
    grid-column: span 10; }

.service-provider-dashboard {
  border-bottom: var(--dashboard-border);
  border-right: var(--dashboard-border);
  border-top: var(--dashboard-border);
  padding: 0 1rem; }
  .service-provider-dashboard__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .service-provider-dashboard__first-glance-stats, .service-provider-dashboard__graph-conversion {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .service-provider-dashboard__graph-deals {
    display: flex;
    flex-direction: row;
    justify-content: start; }
    .service-provider-dashboard__graph-deals__col.one {
      flex-basis: 65%; }
    .service-provider-dashboard__graph-deals__col.two {
      flex-basis: 35%; }
